<a href="https://colab.research.google.com/github/diego51alejo/Name_classifier/blob/master/name_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Name Classifier**

The database provide names in Spanish and their genre, the algorithm classify if the name is female or male.

## Data load

In [1]:
!git clone https://github.com/jvalhondo/spanish-names-surnames

Cloning into 'spanish-names-surnames'...
remote: Enumerating objects: 36, done.
remote: Total 36 (delta 0), reused 0 (delta 0), pack-reused 36
Unpacking objects: 100% (36/36), done.

## Preprocessing

In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import nltk

In [3]:
male = pd.read_csv('./spanish-names-surnames/male_names.csv')
female = pd.read_csv('./spanish-names-surnames/female_names.csv')

In [4]:
male['genero'] = 'M'
female['genero'] = 'F'

In [5]:
data = pd.concat([male[['name', 'genero']] , female[['name', 'genero']]], axis=0)
data

               name genero
0           ANTONIO      M
1              JOSE      M
2            MANUEL      M
3         FRANCISCO      M
4              JUAN      M
...             ...    ...
24751        ZHIHUI      F
24752  ZOILA ESTHER      F
24753       ZSANETT      F
24754        ZULEJA      F
24755       ZULFIYA      F

[49340 rows x 2 columns]

In [6]:
df_shuffle = data.sample(frac=1).reset_index(drop=True)
df_shuffle

                   name genero
0          MIRTA ISABEL      F
1               HUSEYIN      M
2             MAGDALENA      F
3          ISABEL PAULA      F
4          ESTHER JESUS      F
...                 ...    ...
49335           VENELIN      M
49336   NOELIA MERCEDES      F
49337  CONSUELO DOLORES      F
49338  SALVADOR ANTONIO      M
49339           EXIQUIO      M

[49340 rows x 2 columns]

In [7]:
df = []
for i in df_shuffle.index:
  df.append((df_shuffle['name'][i],df_shuffle['genero'][i]))

## Train and Evaluate model

### Select Features

In [9]:
def mas_atributos(nombre):
  atrib = {}
  atrib['primeras_letra'] = nombre[:3].lower()
  
  nombre_list = nombre.split(' ')
  atrib['ultimas_letra'] = nombre_list[0][-3:].lower()

  for letra in 'abcdefghijklmnopqrstuvwxyz':
    atrib['count({})'.format(letra)] = nombre.lower().count(letra)
    
  return atrib

In [10]:
fset = []
for (n,g) in df:
  try:
    fset.append((mas_atributos(n), g))
  except:
    pass
x_train, x_test = train_test_split(fset,test_size=0.2,random_state=42)

### Model and Evaluation

In [13]:
classifier = nltk.NaiveBayesClassifier.train(x_train)
print(nltk.classify.accuracy(classifier, x_test))

0.9189298743413052

In [14]:
classifier.classify(mas_atributos('MARIA JOSE'))

'F'

In [19]:
classifier.classify(mas_atributos('NICOL'))

'M'

In [15]:
tree = nltk.DecisionTreeClassifier.train(x_train)
print(nltk.classify.accuracy(tree, x_test))

0.9135589785164167

In [18]:
tree.classify(mas_atributos('NICOL'))

'F'